<!-- wp:template-part {"slug":"header","theme":"targetify"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-background-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"targetify/hero-with-cta"} /-->
  <!-- wp:pattern {"slug":"targetify/about-us"} /-->
  <!-- wp:pattern {"slug":"targetify/services-section"} /-->
  <!-- wp:pattern {"slug":"targetify/team-layout"} /-->
  <!-- wp:pattern {"slug":"targetify/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"targetify/latest-articles"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"targetify"} /-->
